* {
  margin: 0;
  padding: 0;
}
.navbar {
  background-color: #071b52ee;
  height: 8vh;
  width: 100%;
  position: fixed;
}
ul {
  display: flex;
  float: right;
}
li {
  list-style-type: none;
  padding: 12px 10px;
}
nav ul li a {
  display: inline-block;
  color: rgb(143, 201, 51);
  text-decoration: none;
  flex-wrap: wrap;
  font-size:x-large;
  font-family:'Times New Roman', Times, serif;
  font-weight: bold;
  
}
nav ul li a:hover {
  color: yellow;
}
.btn {
  background-color: rgb(143, 201, 51);
  color: white;
  border-radius: 10px;
  height: 30px;
  width: 90px;
  border: 1px solid black;
  cursor: pointer;
  animation-name: registercolorchange;
  animation-duration: 1s;
  animation-timing-function: ease-in;
  animation-iteration-count: infinite;
  text-align: center;
  padding-bottom: 10px;
  
}
.btn:hover {
  height: 40px;
  width: 105px;
}
@keyframes registercolorchange {
  from {
    background-color: rgb(143, 201, 51);
  }
  to {
    background-color: yellow;
    color: #071b52ee;
  }
}
.logo {
  height: 6vh;
  margin: 3px 0px;
}
.description {
  height: 89vh;
  width: 100%;
}
.chat{
    float: right;
    margin: 0px 0px 5px 0px;
}
.foot {
  height:20vh;
  width: 100%;
  background-color: #071b52ee;
}
.foot h4 {
  text-align: center;
  color: white;
  font-size: large;
}
.footdesc{
  display: flex;
  margin: 0px 500px;
}
.terms{
  text-align: center;
  color: white;
  font-size: x-large;
  margin: 0px 35px;
}
.privacy{
  text-align: center;
  color: white;
  font-size: x-large;
}
.footdes i{
  color: white;
  font-size:xx-large;
  margin: 0px 30px;
}
.footdes i:hover{
  color: rgb(143, 201, 51);
}
.icons{
  justify-content: center;
  text-align: center;
}
.footimg{
  width:265px;
  height:45px;
  padding: 0px 535px;
}




/* <br />
<div class="visiondes">
  <div class="visiondesc">
    <pre>
          Let us helps
            Finding Your Right Courses
    </pre>
  <div class="visionbtn">
      <button class="visionbtn">Get Started</button>
  </div>
</div>
  <div class="visionimg">
    <img src="visiondes.jpg" alt="visiondes" width="450px" height="400px" />
  </div>
</div> */